FLASK_DEBUG=true
DATABASE_NAME=hackathon_db
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# --- Alertmanager Email Notifications ---                                                                                                    
ALERT_EMAIL_FROM=your-email@gmail.com                                                                                                         
ALERT_EMAIL_PASSWORD=your-app-password                                                                                                        
ALERT_EMAIL_TO=oncall-recipient@gmail.com    
